*{
    box-sizing: border-box;
}

.loader-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;;
    top: 0;
    left: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242f3f;
    z-index:9999;
}
.loader{
    display: inline-block;
    width: 50px;
    height:50px;
    position: relative;
    border:  4px solid white;
    animation: loader 1.5s infinite ease;
    -webkit-animation: loader 1.5s infinite ease;
}
.loader-inner{
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color:white;
    animation: loader-inner 1.5s infinite ease;
    -webkit-animation: loader-inner 1.5s infinite ease;
}
@keyframes loader{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    25%{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
    50%{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
    75%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
    
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
@keyframes loader-inner{
    0%{
        height: 0%
    }
    25%{
        height: 0%
    }
    50%{
        height: 100%
    }
    75%{
        height: 100%
    }
    100%{
        height: 0%
    }

}


body {
  padding-top: 3.375rem;
  color: #6c757d;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 18rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h2 {
  color: #ef33a0;
}

h1 {
  line-height: 1;
  color: ivory;

}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  font-family:  "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
}
.subheading.sub-2 {
  font-family:  "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  font-size: 1.25rem;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 13rem;
    max-height: 13rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
   
   
}
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}
.social-icons,
.social-icon {
  transition: transform 0.75s;
  -webkit-transition: transform 0.75s;
  -moz-transition: transform 0.75s;
  -ms-transition: transform 0.75s;
  -o-transition: transform 0.75s;
}
/* border: solid 1px; */
.social-icons .social-icon:last-child {
  margin-right: 0;
  border: solid 1px;
}
.social-icons .social-icon:hover {
  background-color: #f7a1d2;
  transform: scale(1.5);
}

.dev-icons {
  font-size: 3rem;
}

section.resume-section {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  /* max-width: 75rem; */
}
section.resume-section .resume-section-content {
  width: 100%;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
}
@media (max-width: 768px) {
    h1{
      font-size : 4rem;
    }
    h2{
      font-size : 2.2rem;
    }
    .socials {
      flex-direction: column;
      align-items: center;
    }
  }
@media (min-width: 992px) {
  section.resume-section {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fdbee2;
}
.navbar-dark .navbar-nav .nav-link:focus {
  color: hsl(0, 0, 100%);
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fdbee2;
  font-size: 1.5rem;
}

.bg-primary {
  background-color: #15a7ab !important;
}

.list-inline,
.list-inline-item {
  font-size: 4rem;
  margin: 0 2rem;
  /*margin: 10px;
  */transition: transform 0.2s;
}

.list-inline-item:hover {
  transform: scale(1.5);
  color: #f7a1d2;
  cursor: pointer;
}
.wrap {
  animation: typing 1s steps(30, end);
  -webkit-animation: typing 1s steps(30, end),
    blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  10% {
    border-color: #15a7ab;
  }
}

#targetElement {
  color: var(--text);
  height: 100px;
  width: 400px;
  font-size: 65px;
  transform-origin: center center;
}
/* Copy this @keyframes block to your CSS*/
@keyframes yourAnimation {
        0.0%{
            transform: translate(0) rotate(0deg);
            transform-origin: center;
            font-size: 14;
        }
        100%{
            transform: translate(0) rotate(360deg);
            transform-origin: center;
            font-size: 14;
        }
        49.6%{
            transform: translate(0) rotate(180deg);
            transform-origin: center;
            font-size: 14;
        }
    }
    
    
    /* Add the animation: property to whichever element you want to animate */
    #elementToAnimate{
        animation: yourAnimation 3s ease 0s infinite normal forwards;
    }

#about {
    width: 100% ;
    background-image: url("../assets/img/photo-1510915228340-29c85a43dcfe.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black ;
    /* border: red solid 2px; */
    /* padding-bottom: 0; */
}

#about div {
    color: ivory ;
}

.socials{
    display: flex;
    justify-content: center;
}

.resume-section-content .socials div a:before {
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height:100%;
    width:20px;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
}
.resume-section-content .socials div a:after {
    content: '';
    position: absolute;
    bottom:-20px;
    left:-10px;
    height:20px;
    width:100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

 */


.resume-section-content .socials {
    font-family: 'Roboto Condensed', sans-serif;
    transform:translate(-50%, -50%);
    display:flex;
    justify-content: center;
    position: relative;
    bottom: -45px;
    padding-left:30rem;
    padding-bottom: 0;
    /*padding-bottom: 3rem;
    */-webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
}

.resume-section-content .socials div {
    display: flex;
    list-style:none;
    margin:0 5px;
}

.resume-section-content .socials div a  {
    font-size: 1.5rem;
    color: #262626;
    line-height:55px;
    transition: 0.5s;
    padding-right: 14px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.resume-section-content .socials div a span {
    padding:0 0  0 1rem;
    margin:0;
    font-size: 1rem;
    position:absolute;
    /* top: -10px;  */
    color: #262626;
    letter-spacing: 1px;
    transition: 0.5s;
    height: 4rem;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.resume-section-content .socials div a {
  text-decoration: none;
  display:absolute;
  display:inline-block;
  width:140px;
  height:60px;
  background: #fff;
  text-align:left;
  padding-left: 10px;
  transform: rotate(-30deg) skew(25deg)translate(0,0);
  transition:.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
  -webkit-transform: rotate(-30deg) skew(25deg);
  -moz-transform: rotate(-30deg) skew(25deg);
  -ms-transform: rotate(-30deg) skew(25deg);
  -o-transform: rotate(-30deg) skew(25deg);
}
.resume-section-content .socials div a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
    box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

.resume-section-content .socials div:hover .fab {
    color:#fff;
}

.resume-section-content .socials div:hover span {
    color:#fff;
}

.resume-section-content .socials div:hover:nth-child(1) a{
    background: #3b5998;
}
.resume-section-content .socials div:hover:nth-child(1) a:before{
    background: #365492;
}
.resume-section-content .socials div:hover:nth-child(1) a:after{
    background: #4a69ad;
}

.resume-section-content .socials div:hover:nth-child(2) a{
    background: #0082ed;
}
.resume-section-content .socials div:hover:nth-child(2) a:before{
    background: #0952a5;
}
.resume-section-content .socials div:hover:nth-child(2) a:after{
    background: #2394f0;
}

.resume-section-content .socials div:hover:nth-child(3) a{
    background: #dd3939;
}
.resume-section-content .socials div:hover:nth-child(3) a:before{
    background: #b32b2b;
}
.resume-section-content .socials div:hover:nth-child(3) a:after{
    background: #e65a5a;
}

.resume-section-content .socials div:hover:nth-child(4) a{
    background: #8740e4;
}
.resume-section-content .socials div:hover:nth-child(4) a:before{
    background: #741cd8;
}
.resume-section-content .socials div:hover:nth-child(4) a:after{
    background: #a868e4;
}
.fa-chevron-circle-right{
    color:#15a7ab ;
}
/* body{
    padding-right: 0;
    margin-right: 0;
    background-color: black;
} */



#certifications div ul,#certifications div ul li  {
  font-size: 1.3rem;
  line-height: 3.5rem;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

#certifications div ul li a{
  color: #6c757d;
}

/* width */
::-webkit-scrollbar {
  width: 10px;

  background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 10px;
  background-color: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c757d; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #15a7ab; 
}

.text-uppercase{
  font-family: 'Kalam', cursive;
  text-align: center;
}
.row ,.our-project{
  padding: 0;
}
.img {
  box-shadow: 1px 1px 10px black;
  margin: 5px;
}

.test-popup-link :hover{
  box-shadow: 1px 1px 10px #ef33a0;
}

.row-picture{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.name-header{
  font-size: 1rem  ;
}